<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.harvey.mapper.UserMapper"><!--名字写代理接口-->



    <resultMap id="UserMap" type="com.harvey.pojo.User">
        <result column="name" property="name"/>
        <result column="id" property="id"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id ="selectById2" parameterType="Integer" resultType="User">
        <!--查询结果应该不包含ID-->
        select name, age, gender
        from user where id = #{id};
    </select>
    <!--id是这一句命令的唯一标识,不能重复-->
    <select id="findAll" resultType="com.harvey.pojo.User"><!--起了别名之后就方便了-->
        select * from user ;
    </select>

</mapper>