<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:property-placeholder location="classpath:JDBC.properties"/>

    <bean id="dataSource"
          class="com.alibaba.druid.pool.DruidDataSource">
        <!--要习惯把property配成键值对.property文件-->
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>


    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--↓这一步!就是它!二十四小时!-->
        <property name="typeAliasesPackage" value="com.harvey.pojo"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.harvey.mapper"/>
    </bean>
    <bean name="userMapperImpl" class="com.harvey.Impl.UserShow">
        <property name="userMapper" ref="userMapper"/>
    </bean>
</beans>
